html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-size: 2rem;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
