html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

p {
  /* font-size: 2rem; */
}

#root {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 100vh;
  padding: 32px;
  flex-flow: row wrap;
}

.nes-container {
  height: calc(100% - 64px);
  min-width: 230px;
  margin: 32px !important;
  flex-grow: 1;
}

.nes-container > .entries {
  height: 100%;
  overflow-y: scroll;
  margin-right: -28px;
}

.nes-container + .nes-container > .entries {
  height: calc(100% - 44px - 24px);
}

.nes-container > button {
  width: 100%;
}

.dialog-menu {
  display: flex;
  justify-content: flex-end;
}

.uuid {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

section {
  margin-bottom: 32px;
  display: flex !important;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.nes-field + label {
  margin-top: 32px;
}

.uuid:hover {
  background-color: whitesmoke;
}

.uuid > span {
  margin-left: 32px;
  display: inline-flex;
  flex-flow: column;
}

.uuid > i {
  min-width: 126px;
}

button + button {
  margin-left: 16px !important;
}

section > i {
  margin: 0 16px;
}

form {
  max-width: 600px;
}

section > i:hover {
  background-color: whitesmoke;
}

section > i.selected {
  background-color: lightgray;
}